#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 50px 20px #d6d6d6;
}

#card .card-body {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card h2 {
    color: hsl(224deg 43.48% 27.06%);
}

#card span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card span h2 {
    font-size: 1.25rem;
    color: hsl(224deg 43.48% 27.06%);
}

#card h1 {
    display: flex;

    align-content: center;
    justify-content: center;
    font-size: 5rem;
    color: hsl(224deg 43.48% 27.06%);
    margin: 0px;
}

.list-group {
    width: 100%;
}

.list-group-item {
    color: #fff;
    border: none;
    background-color: hsl(220.29deg 55.92% 51.96%);    
}

.img-fluid {
    border:  none;
}